@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* Fonts */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: block;
  display: flex;
  flex-direction: row-reverse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 800;
}

.title {
  font-size: 1.8em;
  font-weight: 400;
}

.title_2 {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 800;
}

/* Contenu */

.wrapper {
  width: 68%;
  display: flex;
  flex-direction: column;
  border: 1px solid #160066;
}

aside {
  display: flex;
  flex-direction: column;
  border: 1px solid #ff00f2;
  width: 32%;
  height: auto;
}

header {
  display: flex;
  flex-direction: column;
  border: 1px solid #ff7300;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.photo {
  border: 1px solid #004403;
  padding: 6em;
}

.header_text {
  display: flex;
  flex-direction: column;
  border: 1px solid #004403;
  padding: 3em;
  width: 70%;
}

.content {
  border: 1px solid #ff0000;
  display: block;
  padding: 3em;
  width: 70%;
}

.grid {
  display: grid;
  grid-template: repeat(1, 60px) / repeat(3, 1fr);
  gap: 3em;
  padding: 0em;
  border: 1px solid #079202;
}
